name: Playwright Tests
on:
  push:
    branches:
    - master
jobs:
  e2e-tests:
    runs-on: windows-latest # or macos-latest, windows-latest, ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
    - run: npm i -D @playwright/test
    - run: npx playwright install --with-deps
    - run: npx playwright test
    - run: zip -r report.zip playwright-report/ test-results/
    - uses: actions/upload-artifact@v2
      with:
        name: report
        path: report.zip