name: Playwright Sample Tests

on:
  push:
    branches:
    - master
    - release-*
  pull_request:
    branches:
    - master
    - release-*
    
jobs:
  build:
    runs-on: windows-latest # or macos-latest, windows-latest, ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
    - run: npm i -D @playwright/test
    - run: npx playwright install --with-deps

  ui-tests:
    needs: build
    runs-on: windows-latest # or macos-latest, windows-latest, ubuntu-latest
    steps:
    - run: npx playwright test

  report:
    needs: ui-tests
    runs-on: windows-latest # or macos-latest, windows-latest, ubuntu-latest
    steps:
    - uses: actions/upload-artifact@v2
      if: always()
      with:
        name: test-report
        path: playwright-report/
